<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://104.154.213.93:3306/essy_ave</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">seiter</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    
    <!--<property name="hibernate.connection.username">essy_root</property>
    <property name="hibernate.connection.password">Eduardo25%</property>-->
    
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.connection.isolation">2</property>
    <!-- <property name="hibernate.transaction.auto_close_session">true</property>-->
    <property name="hibernate.use_identifier_rollback">true</property>
    <property name="hibernate.connection.pool_size">5</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <mapping class="mapping.Usuario"/>
    <mapping class="mapping.Grpave"/>
    <mapping class="mapping.Obervaciones"/>
  </session-factory>
</hibernate-configuration>
